/*-- COLORS --*/

$purple: #8497FE;
$mediumPurple: #D6DCFF;
$ligthPurple: #EBEEFF;
$almostWhite: #FFFF;
$lightGrey: #BABABA;
$mediumGrey: #747474;
$black: #242424;
$brightRed: rgb(188, 12, 12);
$transparentRed: rgba(255, 0, 0, 0.141);
$brightOrange: rgb(188, 91, 12);
$transparentOrange: rgba(255, 119, 0, 0.141);


/*--BREAKPOINTS--*/

$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
    huge: 1920px
);

@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}