.main {
    height: 100vh;

    .main-contacts{
        width: 100%;
        height: calc(100vh - 75px);
        overflow: scroll;

        button{
            border: none;
            background-color: transparent;
            padding:0;
            margin: 0;
        }

        button:active, button:hover{
            background-color: $ligthPurple;
            cursor:pointer;
        }
    }
}