.header-back {
    background-color: $purple;
    height: 75px;
    display: flex;
    align-items: center;
    color: $almostWhite;
    padding: 0rem 1rem;
    position: fixed;
    width: 100%;
    img {
        margin-right: 0.8rem;
        cursor: pointer;
        transition: 0.3s all ease-in;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__data {
        text-align: left;
        h3,
        h4 {
            margin: 0;
            letter-spacing: 0.5px;
            font-size: 18px;
            font-weight: 500;
        }
        h4 {
            font-weight: 400;
            letter-spacing: 0.2px;
            font-size: 14px;
            margin-top: 0.2rem;
        }
    }
}