.perfilBody {
    display: flex;


    @include media-up("tablet") {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.perfilUserImgCont {
    display: flex;
    margin: 5rem;
    width: 10rem;
    height: 10rem;

    @include media-up("tablet") {
        margin: 2rem;
    }
}

.perfilUserImg {
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position:center;
    border-radius: 50%;
}

.perfilBtnImg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    background-color: $black;
    margin-top: 10rem;
    margin-left: 7rem;

    img {
        margin: 0.8rem;
        width: 1.3rem;
        height: 1.3rem;
    }

    &:hover {
        transform: scale(1.05);
    }

    input {
        display: none;
    }
}

.pointerEvents{
    pointer-events: none;
}


.perfilForm {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;

    @include media-up("tablet") {
        width: 65%;
        margin: 1.5rem 0;
    }
}

.perfilFormInput {

    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: $lightGrey;
    margin: 1.1rem 0;
    width: 100%;

    @include media-up("tablet") {}
}

.perfilBtnSave {
    background-color: white;
    border-radius: 2.5rem;
    border-width: 2px;
    height: 2.5rem;
    font-weight: 500;
    margin: 1.3rem 0;
    width: 30%;

    @include media-up("tablet") {}

    &:hover {
        background-color: $black;
        color: white;
    }

}